.photo{
	width:70%;
	height:100%;
	object-fit:cover;
	
}
.butt{
	padding:10%;
	background-color:red;
	color:white;
	border-radius:10px;
}
.explore{
	padding-inline:10%;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}